.task__responseDelete {
    width: 100%;
    margin-top: 15px;
    padding: 10px;
    background-color: var(--color-warning-yellow);
    border: 2px solid var(--color-warning-yellow);
    border-radius: 8px;
    font-weight: 600;
}

.task__responseDelete:hover, .task__responseDelete:active, .task__responseDelete:focus {
    background-color: var(--color-primary-white);
    color: var(--color-warning-yellow);
    transition: 0.3s;
}