.content__mainBio {
    max-width: 85%;
    margin: 20px 0 0;
    padding-top: 15px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    gap: 30px;
    position: relative;
    border-top: 1px solid var(--color-primary-border);
}

.content__mainBio_header {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

.editProfile {
    position: absolute;
    top: 45px;
    right: 0;
    border-bottom: 2px solid var(--color-primary-purple);
}

.editProfile:hover, .editProfile:focus {
    color: var(--color-primary-purple);
    border-color: var(--color-primary-purple);
    transition: 0.3s;
}

.userImage, .userImage__container img, .userImage__containerPremium img{
    display: block;
    width: 135px;
    min-height: 130px;
    border-radius: 50%;
}


.userImage__container img {
    border: 1px solid var(--color-primary-border);
}

.userImage__container, .userImage__containerPremium {
    position: relative;
    border-radius: 50%;
}

.gradient-border {
    --border-width: 6px;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 135px;
    height: 130px;
    background: inherit;
    border-radius: var(--border-width);
}
.gradient-border::after {
    position: absolute;
    content: "";
    top: calc(-1 * var(--border-width));
    left: calc(-1 * var(--border-width));
    z-index: -1;
    width: calc(100% + var(--border-width) * 2);
    height: calc(100% + var(--border-width) * 2);
    background: linear-gradient(60deg, #5f86f2, #a65ff2, #f25fd0, #f25f61, #f2cb5f, #abf25f, #5ff281, #5ff2f0);
    background-size: 300% 300%;
    background-position: 0 50%;
    border-radius: 50%;
    animation: moveGradient 4s alternate infinite;
}
@keyframes moveGradient {
    50% {
        background-position: 100% 50%;
    }
}

.deleteUserImageForm {
    position: absolute;
    top: 0;
    right: 0;
    z-index: 1;
}

.deleteImgBtn {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    max-width: 25px;
}

.deleteImgBtn img {
    display: block;
    width: 25px;
    border: none;
    height: 25px !important;
    min-height: 0;
}

.userInfo {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    gap: 10px;
}

.userInfo__name, .userInfo__surname {
    font-size: 20px;
    color: var(--color-bg-text);
}

.content__mainBio_main h4, .content__mainBio_footer h4 {
    font-size: 21px;
    font-weight: 500;
    color: var(--color-primary-purple);
}

.userInfo__bio, .userInfo__subscription, .userInfo__createdAt {
    font-size: 17px;
    line-height: 24px;
    margin-top: 10px;
    color: var(--color-bg-text);
}

.userInfo__bio a {
    color: var(--color-primary-purple);
    border-bottom: 2px solid var(--color-primary-purple);
}

.userInfo__bio a:hover, .userInfo__bio a:focus {
    color: var(--color-tag-green);
    border-color: var(--color-tag-green);
    transition: 0.4s;
}

.content__mainBio_footer {
}

/*rainbow border styles start*/
.rainbow-border {
    width: 100%;
    height: 5px;
    background: linear-gradient(
            to right,
            #ffc67d,
            #FFD580,
            #48a47a,
            #00308F,
            #a582f7,
            #9b5de5,
            #7367f0
    );
    background-size: 200% 200%;
    background-position: 0% 50%;
    animation: animate 5s linear infinite;
}

@keyframes animate {
    0% {
        background-position: 0% 50%;
    }
    100% {
        background-position: 100% 50%;
    }
}

.rainbow-border-link {
    position: relative;
    color: #000;
    text-decoration: none;
    padding: 5px;
}

.rainbow-border-link::before {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 3px;
    background: linear-gradient(
            to right,
            #ffc67d,
            #FFD580,
            #48a47a,
            #00308F,
            #a582f7,
            #9b5de5,
            #7367f0
    );
    background-size: 200% 200%;
    background-position: 0% 50%;
    animation: animate 5s linear infinite;
}

.premium-link {
    position: relative;
    color: var(--color-bg-text);
    text-decoration: none;
    padding: 5px;
}

.premium-link:hover::after {
    opacity: 1;
    content: "👑";
    position: absolute;
    top: -6px;
    right: 1px;
    width: 20px;
    height: 20px;
    transition: opacity 0.3s ease;
    transform: rotate(21deg);
}

.banForm {
    padding: 10px;
    border: 2px solid var(--color-primary-border);
    border-radius: 6px;
    position: relative;
    opacity: 0;
    display: none;
}

.banBtn {
    padding: 10px 20px;
    background-color: var(--color-warning-red);
    border-radius: 6px;
    font-weight: 600;
}

.banForm, .banBtn {
    position: absolute;
    right: 0;
    top: 7%;
}

.complaint__list {
    margin-top: 15px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 15px;
}

.complaint__item {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 8px;
}

.complaint__radio {
    appearance: none;
    -webkit-appearance: none;
    outline: none;
    border: 1px solid var(--color-primary-purple);
    border-radius: 50%;
    background-color: var(--color-primary-white);
    width: 15px;
    height: 15px;
    position: relative;
    cursor: pointer;
    margin: 0;
}

.complaint__radio:checked {
    background-color: var(--color-primary-purple);

    &::before {
        content: "\2713";
        color: #fff;
        position: absolute;
        font-size: 12px;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%) rotate(5deg);

    }
}

.complaint__label {
    font-size: 14px;
    font-weight: 500;
    line-height: 18px;
    text-align: left;
}

.complaintText {
    margin: 21px 0 10px;
    resize: none;
    width: 100%;
    height: 70px;
    padding: 10px;
    border: 1px solid var(--color-primary-purple);
    border-radius: 6px;
}

#sendComplaint {
    width: 100%;
    padding: 5px;
    background-color: var(--color-primary-purple);
    border-radius: 6px;
    border: 2px solid var(--color-primary-purple);
}

#sendComplaint:hover, #sendComplaint:active, #sendComplaint:focus {
    background-color: #fff;
    transition: 0.3s;
}

#closeFormBtn {
    position: absolute;
    top: 5px;
    right: 0;
    background-color: inherit;
}

#closeFormBtn img {
    display: block;
    width: 20px;
}

.userInfo__rating {
	font-size: 18px;
	color: var(--color-bg-text);
}
.userInfo__rating span {
	color: var(--color-primary-yellow);
	font-size: 26px;
}