.content__projects {
    margin-top: 32px;
}

.projects__tagList {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    gap: 20px;
}

.projects__tagItem {
    padding: 6px 15px;
    border-radius: 12px;
    border: 1px solid var(--color-primary-purple);
    cursor: pointer;
    color: var(--color-bg-text);
}

.projects__tagItem:hover, .projects__tagItem:active, .projects__tagItem:focus
{
    background-color: var(--color-primary-purple);
    transition: 0.4s;
}
.projects__tag {
    width: 100%;
    color: var(--color-primary-black);
    font-weight: 500;
}

.editProject {
    color: var(--color-bg-text);
    border: 1px solid var(--color-tag-purple);
    padding: 4px 8px;
    border-radius: 8px;
}

.active-tag-item {
    background-color: var(--color-primary-purple);
}

.projects__list {
    overflow-x: auto;
}

.projects__doneList {
    overflow-x: auto;
    display: none;
}

table {
    width: 95%;
    margin-top: 32px;
    border-collapse: collapse;
}


td {
    padding: 20px;
    text-align: center;
    border-bottom: 1px solid #ddd;
    font-size: 16px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 250px;
    color: var(--color-bg-text);
}

th {
    color: var(--color-primary-purple);
    border-bottom: 1px dashed var(--color-primary-purple);
    font-size: 16px;
    padding: 15px;
}