.content__responses {
    width: 85%;
    margin-top: 32px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 20px;
}

.task__response {
    padding: 10px 15px;
    width: 100%;
    position: relative;
    border: 1px solid var(--color-primary-purple);
    border-radius: 10px;
    background: var(--color-bg-modal);
    box-shadow: -2px 2px 20px -1px rgba(113, 113, 113, 0.20);
}

.task__responseMain {
    margin-top: 15px;
}

.task__responseTitle {
    font-size: 20px;
    line-height: 24px;
    color: var(--color-bg-text);
}

.task__responseCreated {
    margin-top: 5px;
    font-size: 21px;
    color: var(--color-bg-text);
}

.task__responseCreated span {
    color: var(--color-primary-purple);
}

.task__responseFooter {
    position: relative;
    margin-top: 20px;
    padding: 10px 0 10px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 13px;
    border-top: 1px solid var(--color-primary-gray);
}

.task__responseDelete {
    padding: 3px 8px;
    border: 2px solid var(--color-primary-purple);
    border-radius: 8px;
    background-color: var(--color-primary-purple);
    text-align: center;
}

.task__responseDelete:hover, .task__responseDelete:focus {
    background-color: inherit;
    color: var(--color-bg-text);
    transition: 0.3s;
}

.responses__header {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}

.responses__filterForm {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

.responses__filterForm p {
    color: var(--color-primary-purple);
    font-weight: 600;
}

.responses__tagList {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: flex-start;
	gap: 20px;
}

.responses__tagItem {
	padding: 5px 15px;
	border-radius: 12px;
	border: 1px solid var(--color-primary-purple);
    cursor: pointer;
    margin: 20px 0;
    color: var(--color-bg-text);
}

.responses__tagItem:hover, .responses__tagItem:active, .responses__tagItem:focus
{
    background-color: var(--color-primary-purple);
    transition: 0.4s;
}

.active-tag-item {
    background-color: var(--color-primary-purple);
}

.responses__tag {
	width: 100%;
	color: var(--color-primary-black);
	font-weight: 500;
}

.searchForm {
	margin: 10px 0;
	position: relative;
	max-width: 497px;
}

.searchForm input {
	width: 100%;
	padding: 7px 10px;
	font-size: 15px;
	border: 3px solid var(--color-primary-border);
	border-radius: 20px;
    background-color: var(--color-bg-input);
}

.searchBtn {
	background-color: inherit;
	position: absolute;
	top: 3px;
	right: 5px;
	border-radius: 50%;
}

.searchBtn img {
	display: block;
	width: 28px;
}

.tab__container {
    width: 100%;
}

.nonPriority-container {
    display: none;
}

.contractor__emptyContainer {
    margin-top: 0;
}