.admin {
    width: 100%;
}

.admin__settings {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    margin: 40px 0 0 20px;
    padding: 20px;
    border: 3px solid var(--color-primary-border);
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    border-radius: 8px;
    width: 60%;
    gap: 15px;
}

.admin__settings h3 {
    font-size: 25px;
    text-align: left;
}

.newOptionsYandexGPT__form {
    width: 100%;
}
.option__sites {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

.option__site {
    width: 100%;
}

.option__site label {
    color: var(--color-primary-purple);
    font-size: 16px;
    font-weight: 300;
    padding-left: 19px;
}

.option__site input {
    width: 95%;
    padding: 5px;
    font-size: 18px;
    border-radius: 6px;
    border: 2px solid var(--color-primary-purple);
    background-color: var(--color-bg-input);
}

.newOptionsYandexGPTBtn {
	width: 250px;
	border-radius: 8px;
	background: var(--bg-color-primary-purple);
	color: var(--color-bg-text);
	border: 1px solid var(--color-primary-purple);
	padding: 2px 8px;
	font-size: 12px;
	font-weight: 600;
	line-height: 28px;
	text-align: center;
    margin-top: 10px;
}