.searchForm {
    position: relative;
    max-width: 497px;
}

.searchForm input {
    width: 100%;
    padding: 7px 10px;
    font-size: 15px;
    border: 3px solid var(--color-primary-border);
    border-radius: 20px;
    background-color: var(--color-bg-input);
}

.searchBtn {
    background-color: inherit;
    position: absolute;
    top: 3px;
    right: 5px;
    border-radius: 50%;
}

.searchBtn img {
    display: block;
    width: 28px;
}

#resetFilters {
    font-size: 14px;
    background-color: inherit;
    color: var(--color-tag-green);
    border-bottom: 1px dotted var(--color-tag-green);
    margin-top: 15px;
}

#resetFilters:hover, #resetFilters:focus {
    color: var(--color-tag-purple);
    border-color: var(--color-tag-purple);
    transition: 0.3s;
}

#advLink {
    max-width: 70px;
    display: block;
    padding: 10px;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    background-color: var(--color-primary-purple);
    position: fixed;
    right: 3%;
    bottom: 4%;
}

#advLink img {
    width: 50px;
    margin: 0 auto;
    animation: animUfo 3s linear infinite;
}

@keyframes animUfo {
    0%{
        transform: rotate(0deg);
    }
    100%{
        transform: rotate(360deg);
    }
}
