.content__projectDetail {
    margin-top: 30px;
    width: 90%;
    border-radius: 8px;
    padding: 10px;
    border: 3px solid var(--color-primary-border);
}

.project__title {
    width: 100%;
    border-bottom: 2px solid var(--color-primary-border);
    font-size: 31px;
    padding: 10px;
    word-break: break-word;
}

.project__description {
    max-width: 100%;
    font-size: 21px;
    padding: 10px;
    color: var(--color-bg-text);
    word-break: break-word;
}

.content__project {
    max-width: 90%;
    margin-top: 40px;
}

.content__project_btnContainer {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.doneProjectForm {
    width: 49%;
}

.project__link, .content__project_btnContainer button {
    display: block;
    background-color: var(--color-tag-green);
    border-radius: 6px;
    text-align: center;
    padding: 7px;
    color: var(--color-primary-black);
    font-weight: 600;
    border: 2px solid var(--color-tag-green);
    margin-top: 10px;
    grid-area: link;
    font-size: 18px;
}

.doneProjectForm button {
    width: 100%;
    margin-top: 10px;
    font-weight: 600;
    padding: 4px 7px;
}

.project__link {
    width: 49%;
}

.project__link:hover, .project__link:focus {
    background-color: inherit;
    color: var(--color-tag-green);
    transition: 0.4s;
}

.project__categories {
    margin-top: 10px;
}

.project__tagList {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 15px;
}

.project__tagItem {
    padding: 6px 15px;
    border-radius: 12px;
    border: 1px solid var(--color-primary-purple);
    cursor: pointer;
    margin: 20px 0;
    color: var(--color-bg-text);
}

.project__tagItem:hover, .project__tagItem:active, .project__tagItem:focus
{
    background-color: var(--color-primary-purple);
    transition: 0.4s;
}

.active-tag-item {
    background-color: var(--color-primary-purple);
}

.nonPriorityContainer {
    display: none;
}

.rounded-corners {
    border-collapse: separate;
    border: 3px solid var(--color-primary-purple);
    border-radius: 6px;
    width: 100%;
}

.rounded-corners th,
.rounded-corners td {
    border: 1px solid var(--color-primary-border);
    text-align: center;
}

.rounded-corners th {
    background-color: var(--color-primary-purple);
    color: var(--color-primary-white);
    font-size: 20px;
    padding: 8px;
}

.rounded-corners td {
    padding: 8px;
    color: var(--color-bg-text);
    -ms-word-break: break-word;
    word-break: break-word;
    font-size: 18px;
    max-width: 710px;
}

.rounded-corners td button {
    font-size: 15px;
    font-weight: 600;
}

.project__stageForm {
    width: 100%;
    margin: 10px 0 20px;
}

.project__stageBtn {
    width: 100%;
    background-color: var(--color-tag-green);
    border-radius: 6px;
    border: 2px solid var(--color-tag-green);
    padding: 3px;
    font-size: 20px;
    font-weight: 600;
}

.project__stageBtn span {
    font-weight: 600;
}

.project__stageBtn:hover, .project__stageBtn:focus {
    background-color: inherit;
    color: var(--color-tag-green);
    transition: 0.3s;
}

.emptyStage {
    max-width: 500px;
    margin: 30px auto;
    padding: 20px;
    border: 3px solid var(--color-primary-border);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
    border-radius: 8px;
    font-size: 20px;
}

.emptyStage p {
    color: var(--color-bg-text);
}

.tab__container {
    margin-top: 7px;
}

.tab__container h2 {
    font-size: 20px;
    margin-bottom: 10px;
}

.project__detail_title {
    font-size: 20px;
    margin-top: 20px;
}

.taskViewLink {
	color: var(--color-bg-text);
}

.taskViewLink:hover, .taskViewLink:active, .taskViewLink:focus {
	color: var(--color-primary-purple);
	border-bottom: 1px solid var(--color-primary-purple);
}

.doneProjectBtn {
    background-color: var(--color-warning-red) !important;
    border: 2px solid var(--color-warning-red) !important;

}

.doneProjectBtn:hover, .doneProjectBtn:focus {
    transition: 0.4s;
    background-color: inherit !important;
    color: var(--color-warning-red) !important;
}