.content__projectDetail {
    margin-top: 20px;
}

.project__title {
    max-width: 85%;
    width: 100%;
    background-color: var(--color-primary-purple);
    border-radius: 8px;
    font-size: 25px;
    padding: 10px;
}

.project__description {
    max-width: 85%;
    font-size: 19px;
    padding: 10px;
    color: var(--color-bg-text);
}

.content__project {
    max-width: 85%;
}

.project__link {
    width: 50%;
    display: block;
    background-color: var(--color-tag-green);
    border-radius: 6px;
    text-align: center;
    padding: 7px;
    color: var(--color-primary-black);
    font-weight: 600;
    border: 2px solid var(--color-tag-green);
    margin-top: 10px;
}

.project__link:hover, .project__link:focus {
    background-color: inherit;
    color: var(--color-bg-text);
    transition: 0.4s;
}

.project__categories {
    margin-top: 10px;
}

.project__tagList {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 15px;
}

.project__tagItem {
    padding: 6px 15px;
    border-radius: 12px;
    border: 1px solid var(--color-primary-purple);
    cursor: pointer;
    margin: 20px 0;
    color: var(--color-bg-text);
}

.project__tagItem:hover, .project__tagItem:active, .project__tagItem:focus
{
    background-color: var(--color-primary-purple);
    transition: 0.4s;
}

.active-tag-item {
    background-color: var(--color-primary-purple);
}

.nonPriorityContainer {
    display: none;
}

.rounded-corners {
    border-collapse: separate;
    border: 3px solid var(--color-primary-purple);
    border-radius: 6px;
    width: 100%;
}

.rounded-corners th,
.rounded-corners td {
    border: 1px solid var(--color-primary-border);
    text-align: center;
}

.rounded-corners th {
    background-color: var(--color-primary-purple);
    color: var(--color-primary-white);

    padding: 8px;
}

.rounded-corners td {
    padding: 8px;
    color: var(--color-bg-text);
}

.project__stageForm {
    width: 100%;
    margin: 10px 0 20px;
}

.project__stageBtn {
    width: 100%;
    background-color: var(--color-warning-yellow);
    border-radius: 6px;
    border: 2px solid var(--color-warning-yellow);
    padding: 3px;
}

.project__stageBtn:hover, .project__stageBtn:focus {
    background-color: inherit;
    color: var(--color-warning-yellow);
    transition: 0.3s;
}

.emptyStage {
    max-width: 500px;
    margin: 30px auto;
    padding: 20px;
    border: 3px solid var(--color-primary-border);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
    border-radius: 8px;
}

.emptyStage p {
    color: var(--color-bg-text);
}
