.admin {
    width: 100%;
}

.rounded-corners {
    margin-top: 40px;
    margin-left: 20px;
    border-collapse: separate;
    border: 3px solid var(--color-primary-purple);
    border-radius: 6px;
    width: 85%;
}

.rounded-corners th,
.rounded-corners td {
    border: 1px solid var(--color-primary-border);
    text-align: center;
}

.rounded-corners th {
    background-color: var(--color-primary-purple);
    color: var(--color-primary-white);

    padding: 8px;
}

.rounded-corners td {
    padding: 8px;
    color: var(--color-bg-text);
}

.rounded-corners__btn {
    max-width: 300px;
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 5px;
    margin: 0 auto;
    align-items: center;
}

.rounded-corners__btn a{
    padding: 5px 7px;
    background-color: var(--color-warning-green);
    border-radius: 8px;
    color: var(--color-bg-text);
    border: 2px solid var(--color-warning-green);
    width: 100%;
}

.rounded-corners__btn a:hover, .rounded-corners__btn a:focus {
    background-color: inherit;
    color: var(--color-warning-green);
    transition: 0.4s;
}

.rounded-corners__btn form {
    width: 100%;
}

.rounded-corners__btn button {
    padding: 3px 7px;
    background-color: var(--color-primary-purple);
    border-radius: 8px;
    color: var(--color-bg-text);
    border: 2px solid var(--color-primary-purple);
    width: 100%;
}

.rounded-corners__btn button:hover, .rounded-corners__btn button:focus {
    background-color: inherit;
    color: var(--color-primary-purple);
    transition: 0.4s;
}
