.admin {
    width: 100%;
}

.task-table {
    margin-top: 32px;
    width: 90%;
    text-align: center;

}

.task-table thead {
    background-color: var(--color-tag-purple);
    border: 1px solid var(--color-tag-purple);
    border-radius: 8px;
}

.task-table th, .task-table td {
    padding: 10px;
}
