.profile__main {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
}

.aside {
    position: relative;
    top: 0;
    left: 0;
    padding: 20px;
    box-sizing: border-box;
    max-width: 300px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.aside__logoContainer {
    width: 100%;
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
}

.header__profileName {
    line-height: 28px;
    font-size: 20px;
    font-weight: 500;
    color: var(--color-primary-white);
}

.aside__nav {
    width: 253px;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    justify-content: flex-start;
    gap: 25px;
}

.aside__btn {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 10px;
    padding: 10px;
    border-radius: 6px;
    font-size: 18px;
    font-weight: 500;
    line-height: 167%;
    background-color: inherit;
}

.aside__btn span {
    background: rgb(255, 117, 74);
    border-radius: 50%;
    display: block;
    width: 25px;
    height: 25px;
    text-align: center;
    font-size: 14px;
    margin-left: 50px;
}

a.aside__btn {
    color: var(--color-bg-text);
}

.userImg {
    display: block;
    padding: 2px;
    width: 24px;
}

.commentImg {
    display: block;
    width: 26px;
}

.active-profile-btn {
    background: var(--color-primary-purple);
}

.aside__taskList, .aside__projectList {
    display: none;
}

.aside__taskList a, .aside__projectList a {
    margin: 10px 10px 0 30px;
    font-size: 16px;
    font-weight: 500;
    color: var(--color-primary-black);
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 1;
    overflow: hidden;
}

.aside__taskList li a span, .aside__projectList li a span {
    display: inline-block;
    margin-right: 10px;
    margin-bottom: 2px;
    background: var(--color-warning-green);
    width: 9px;
    height: 9px;
    border-radius: 2px;
}

.aside__profile {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
    margin-bottom: 20px;
}

.profile__name {
    font-size: 16px;
    font-weight: 500;
    line-height: 20px;
    text-align: center;
    color: var(--color-bg-text);
}

.profile__email {
    font-size: 13px;
    font-weight: 400;
    line-height: 15px;
    color: var(--color-bg-text);
}

.profile__logOut {
    display: block;
    padding: 8px;
    margin-top: 45px;
    width: 100%;
    background-color: inherit;
    border: 3px solid var(--color-primary-purple);
    border-radius: 8px;
    text-align: center;
    font-weight: 500;
    color: var(--color-bg-text);
}

.profile__logOut:active, .profile__logOut:hover {
    border-color: var(--color-warning-yellow);
    color: var(--color-warning-yellow);
    transition: 0.5s;
}

.content {
    width: 100%;
    margin: 23px 33px 33px 31px;
}

.content__header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    gap: 20px;
}

.content__header h1 {
    font-size: 28px;
    font-weight: 900;
    line-height: 34px;
    text-align: left;
    color: var(--color-bg-text);
    cursor: pointer;
}

.content__create h2 {
    display: block;
    text-align: left;
    font-size: 28px;
    margin-bottom: 10px;
}

.content__header h1:hover, .content__header h1:focus {
    color: var(--color-primary-purple);
    -webkit-transition: 0.4s;
    -moz-transition: 0.4s;
    -ms-transition: 0.4s;
    -o-transition: 0.4s;
    transition: 0.4s;
}

.content__name {
    margin-top: 13px;
}

.content__tittle {
    font-size: 26px;
    font-weight: 500;
    line-height: 31px;
    text-align: left;
    color: var(--color-bg-text);
}

.content__main {
    margin-top: 40px;
    display: grid;
    width: 100%;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 20px;
}

.task {
    padding: 16px;
	width: 100%;
	position: relative;
    border: 1px solid var(--color-primary-purple);
	border-radius: 4px;
	background: var(--color-bg-modal);
	box-shadow: -2px 2px 20px -1px rgba(113, 113, 113, 0.20);
}

.task__header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    gap: 9px;
    max-width: 350px;
    overflow: hidden;
    margin-top: 10px;
    flex-wrap: wrap;
    max-height: 21px;
}

.task__tag, .task__categories {
    border-radius: 20px;
    text-align: center;
    font-size: 10px;
    font-weight: 700;
    line-height: 15px;
    padding: 3px 8px;
    color: var(--color-primary-black);
}

.task__categories {
    background-color: var(--color-primary-yellow);
}

.task__tag {
    background-color: var(--color-tag-green);
}

.task__main {
    margin-top: 10px;
}

.task__main h3 {
    font-size: 18px;
    font-weight: 700;
    text-align: left;
    color: var(--color-bg-text);
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 1;
    overflow: hidden;
    min-height: 20px;
    word-break: break-word;
}

.task__description {
    width: 100%;
    margin-top: 9px;
    font-size: 12px;
    font-weight: 400;
    line-height: 167%;
    text-align: left;
    color: var(--color-bg-text);
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 1;
    overflow: hidden;
    word-break: break-word;
}

.task__descriptionWithoutTags {
    width: 100%;
    margin-top: 9px;
    font-size: 12px;
    font-weight: 400;
    line-height: 167%;
    text-align: left;
    color: var(--color-bg-text);
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    overflow: hidden;
    min-height: 41px;
    word-break: break-word;
}

.task__footer {
    /*position: relative;*/
    margin-top: 20px;
    padding-top: 10px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 13px;
    border-top: 1px solid var(--color-primary-gray);
}

.task__footer p {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 170px;
    line-height: 18px;
}

.task__footer_img img {
    display: block;
    width: 24px;
}

.task__notify, .task__files, .task__footer_img {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2px;
}

.task__footer_img {
    gap: 7px;
}

.task__notify p, .task__files p, .task__footer_img p {
    color: var(--color-bg-text);
}

.create__form {
    width: 100%;
    margin: 0 auto;
    display: flex;
    align-items: stretch;
    justify-content: center;
    flex-direction: column;
    gap: 20px;
}

.create__form h2 {
    font-size: 20px;
    font-weight: 600;
    text-align: left;
    color: var(--color-bg-text);
    width: 85%;
    margin: 0 auto;
}

.create__form select {
    background-color: var(--color-bg-modal);
    font-size: 18px;
    border: 2px solid var(--color-primary-purple);
    color: var(--color-bg-text);
    border-radius: 8px;
    max-width: 350px;
    margin-top: 21px;
}

.create__textareaLabel {
    font-size: 18px;
    color: var(--color-primary-purple);
    align-self: flex-start;
}

.create__form fieldset {
    border: 2px solid var(--color-primary-purple);
    padding: 10px;
    margin-left: 20px;
    border-radius: 6px;
    max-width: 682px;
}

.create__form fieldset legend {
    text-align: center;
    color: var(--color-primary-purple);
    font-size: 18px;
}

.create__fieldsetContainer {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 20px;
}

.create__title, .create__tags {
    border: 2px solid var(--color-primary-purple);
    padding: 10px;
    border-radius: 6px;
    background-color: var(--color-bg-input);
    word-break: break-word;
    font-size: 18px;
}

.create__description {
    border: 2px solid var(--color-primary-purple);
    border-radius: 6px;
    display: block;
    resize: none;
    padding: 10px;
    background-color: var(--color-bg-input);
    word-break: break-word;
    font-size: 18px;
}

.create__description, .create__title  {
    width: 100%;
}
.create__tags {
    width: 100%;
}

.create__text {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
    justify-content: center;
    gap: 27px;
}

.create__dateInput {
    border: 2px solid var(--color-primary-purple);
    padding: 10px;
    border-radius: 6px;
    background-color: var(--color-bg-input);
    word-break: break-word;
    font-size: 18px;
}

.create__priceInput {
    border: 2px solid var(--color-primary-purple);
    padding: 10px;
    border-radius: 6px;
    background-color: var(--color-bg-input);
    word-break: break-word;
    font-size: 18px;
}

.create__container {
    width: 85%;
    display: flex;
    flex-direction: column;
    gap: 4px;
    justify-content: center;
    align-self: center;
    margin: 0 auto;
}

.create__dateContainer {
    display: flex;
    flex-direction: column;
    gap: 4px;
}

.create__containers {
    width: 85%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    gap: 40px;
    margin: 0 auto;
}

.createBtn {
    border-radius: 8px;
    background: var(--color-tag-green);
    color: var(--color-bg-text);
    border: 2px solid var(--color-tag-green);
    padding: 5px 8px;
    font-size: 17px;
    font-weight: 600;
    line-height: 28px;
    text-align: center;
    margin: 20px auto 0;
    width: 85%;
}

.createBtn:hover, .createBtn:active, .createBtn:focus {
    background: inherit;
    color: var(--color-tag-green);
    transition: 0.4s;
}

#taskList.open, #projectList.open{
    width: 100%;
    margin-left: 22px;
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    gap: 10px;
    border-left: 1px solid var(--color-primary-gray);
}


#taskList::-webkit-scrollbar {
    width: 10px;
    background-color: transparent;
}

#taskList::-webkit-scrollbar-thumb {
    background-color: #ccc;
    border-radius: 5px;
    transition: width 0.2s ease;
}

#taskList::-webkit-scrollbar-thumb:hover {
    background-color: #aaa;
}

#taskList .scrollbar-thumb {
    position: absolute;
    top: 0;
    right: 0;
    height: 100%;
    background-color: #ccc;
    border-radius: 5px;
    pointer-events: none;
    transition: width 0.2s ease;
}

#taskList.hidden {
    display: none;
}

.content__profileCreate {
    display: none;
}

.content__profileCreate.open {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 20px;
}

.create__link {
    color: var(--color-primary-purple);
    font-size: 16px;
}

.content__create {
    margin: 30px 0 20px;
    position: relative;
}

.gptCreate {
    /*position: relative;*/
    /*right: 137px;*/
}

.create__tagContainers {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 30px;
    width: 85%;
}

.gptCreate button {
    position: relative;
    color: #000;
    text-decoration: none;
    max-width: 330px;
    border-radius: 8px;
    overflow: hidden;
    font-size: 15px;
    border: 3px solid var(--color-primary-yellow);
    background-color: var(--color-primary-yellow);
    margin-top: 24px;
    font-weight: 600;
}

.gptCreate button:hover, .gptCreate button:focus {
    background-color: inherit;
    color: var(--color-bg-text);
    -webkit-transition: 0.4s;
    -moz-transition: 0.4s;
    -ms-transition: 0.4s;
    -o-transition: 0.4s;
    transition: 0.4s;
}

.premium-link-tag {
    position: relative;
    color: var(--color-bg-text);
    text-decoration: none;
}

.premium-link-tag::after {
    opacity: 1;
    content: "👑";
    position: absolute;
    top: 5px;
    right: 2px;
    width: 17px;
    height: 20px;
    transition: opacity 0.3s ease;
    transform: rotate(27deg);
    font-size: 23px;
}
/*empty responses styles start*/
.contractor__emptyContainer {
    margin-top: 32px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    color: var(--color-bg-text);
}

.contractor__emptyContainer img {
    display: block;
    width: 300px;
    border-radius: 50%;
    margin-bottom: 10px;
}

.contractor__emptyLink {
    padding: 5px;
    font-size: 18px;
    color: var(--color-bg-text);
}

.contractor__emptyLink a {
    color: var(--color-primary-purple);
}

.contractor__emptyLink a:hover, .contractor__emptyLink a:active {
    border-bottom: 3px solid var(--color-primary-purple);
}

.emptyContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 5px;
}

.emptyContainer img {
    display: block;
    width: 120px;
}

.gptGenerateError {
    border: 2px solid var(--color-warning-red);
    font-weight: 600;
}

.gptGenerate {
    border: 2px solid yellow;
}
