.profile__main {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
}

.aside {
    position: relative;
    top: 0;
    left: 0;
    padding: 20px;
    box-sizing: border-box;
    max-width: 300px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.aside__logoContainer {
    width: 100%;
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
}

.header__profileName {
    line-height: 28px;
    font-size: 20px;
    font-weight: 500;
    color: var(--color-primary-white);
}

.aside__nav {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    justify-content: flex-start;
    gap: 31px;
}

.aside__navContainer {
    width: 100%;
}

.aside__btn {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 10px;
    padding: 10px;
    border-radius: 6px;
    font-size: 18px;
    font-weight: 500;
    line-height: 167%;
    background-color: inherit;
}

.aside__btn span {
    background: rgb(255, 117, 74);
    border-radius: 50%;
    display: block;
    width: 25px;
    height: 25px;
    text-align: center;
    font-size: 14px;
    margin-left: 50px;
}

.active-profile-btn {
    background: var(--color-primary-purple);
}

.aside__taskList, .aside__projectList {
    display: none;
}

.aside__taskList a, .aside__projectList a {
    margin: 10px 10px 0 30px; 
    font-size: 16px;
    font-weight: 500;
    color: var(--color-primary-black);
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 1;
    overflow: hidden;   
}

.aside__taskList li a span, .aside__projectList li a span {
    display: inline-block;
    margin-right: 10px;
    margin-bottom: 2px;
    background: var(--color-warning-green);
    width: 9px;
    height: 9px;
    border-radius: 2px;
}

.aside__profile {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
    margin-bottom: 20px;
}

.profile__name {
    font-size: 16px;
    font-weight: 500;
    line-height: 20px;
}

.profile__email {
    font-size: 12px;
    font-weight: 400;
    line-height: 15px;
    text-transform: capitalize;
}

.profile__logOut {
    padding: 8px;
    margin-top: 45px;
    width: 100%;
    background-color: inherit;
    border: 3px solid var(--color-primary-purple);
    border-radius: 8px;
    text-align: center;
    font-weight: 500;
}

.profile__logOut:active, .profile__logOut:hover {
    background: var(--bg-color-primary-purple);
    transition: 0.5s;
}

.content {
    width: 100%;
    margin: 23px 33px 33px 31px;
}

.content__header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    gap: 20px;
}

.content__header h1 {
    font-size: 28px;
    font-weight: 900;
    line-height: 34px;
    text-align: left;
    color: var(--color-primary-black);
}

.content__header button.plus-link {
    display: block;
    width: 24px;
    height: 24px;
    text-align: center;
    border-radius: 50%;
    border: 2px dashed var(--color-primary-purple);
}
  
.content__header button.plus-link .plus-link__inner {
    transform: translate(-50%, -50%);
    display: block;
    width: 4px;
    height: 10px;
    line-height: 20px;
    font-size: 25px;
    color: var(--color-primary-purple);
}

.content__name {
    margin-top: 13px;
}

.content__tittle {
    font-size: 26px;
    font-weight: 500;
    line-height: 31px;
    letter-spacing: 0%;
    text-align: left;
}

.content__main {
    margin-top: 40px;
    display: grid;
    width: 100%;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 20px;
}

.task {
    padding: 16px;
	width: 100%;
	position: relative;
    border: 1px solid var(--color-primary-purple);
	border-radius: 10px;
	background: var(--color-primary-white);
	box-shadow: -2px 2px 20px -1px rgba(113, 113, 113, 0.20);
}

.task__header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    gap: 9px;
}

.task__tag {
    background-color: var(--color-tag-green);
    border-radius: 20px;
    text-align: center;
    font-size: 12px;
    font-weight: 700;
    line-height: 15px;
    padding: 5px 10px;
    color: var(--color-primary-black);
}

.task__main {
    margin-top: 22px;
}

.task__main h3 {
    font-size: 18px;
    font-weight: 700;
    text-align: left;
    color: var(--color-primary-black);
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 1;
    overflow: hidden;
    min-height: 20px;
}

.task__description {
    width: 100%;
    margin-top: 9px;
    font-size: 12px;
    font-weight: 400;
    line-height: 167%;
    text-align: left;
    color: var(--color-primary-black);
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 3;
    overflow: hidden;
}

.task__footer {
    position: relative;
    margin-top: 20px;
    padding: 15px 0 10px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 13px;
    border-top: 1px solid var(--color-primary-gray);
}

.task__footer_img {
    position: absolute;
    top: 18px;
    left: 0;
}

.task__footer_img img {
    display: block;
    width: 24px;
}

.task__notify, .task__files, .task__footer_img {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2px;
}

.task__notify p, .task__files p, .task__footer_img p {
    color: var(--color-primary-black);
}

.create__form {
    max-width: 750px;
    width: 100%;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
    gap: 20px;
}

.create__textareaLabel {
    font-size: 15px;
    color: var(--color-primary-purple);
}

.create__form fieldset {
    border: 2px solid var(--color-primary-purple);
    padding: 10px;
    margin-left: 20px;
    border-radius: 6px;
}

.create__fieldsetContainer {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 20px;
}

.create__form fieldset legend {
    text-align: center;
    color: var(--color-primary-purple);
}

.create__title {
    width: 100%;
    border: 2px solid var(--color-primary-purple);
    padding: 10px;
    border-radius: 6px;
}

.create__description {
    border: 2px solid var(--color-primary-purple);
    border-radius: 6px;
    display: block;
    resize: none;
    width: 100%;
    padding: 10px;
}

.create__text {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 20px;
}

.create__container {
    width: 100%;
}

.createBtn {
    width: 100%;
    border-radius: 8px;
    background: var(--bg-color-primary-purple);
    color: var(--color-primary-white);
    border: 1px solid var(--color-primary-purple);
    padding: 2px 8px;
    font-size: 12px;
    font-weight: 600;
    line-height: 28px;
    text-align: center;
    text-transform: capitalize;
}

.createBtn:hover, .createBtn:active, .createBtn:focus {
    background: var(--color-primary-white);
    transition: 0.4s;
    color: var(--color-primary-black);
}

#taskList.open, #projectList.open{
    width: 100%;
    margin-left: 22px;
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    gap: 10px;
    border-left: 1px solid var(--color-primary-gray);
}


#taskList::-webkit-scrollbar {
    width: 10px;
    background-color: transparent;
}
  
#taskList::-webkit-scrollbar-thumb {
    background-color: #ccc;
    border-radius: 5px;
    transition: width 0.2s ease;
}
  
#taskList::-webkit-scrollbar-thumb:hover {
    background-color: #aaa;
}
  
#taskList .scrollbar-thumb {
    position: absolute;
    top: 0;
    right: 0;
    height: 100%;
    background-color: #ccc;
    border-radius: 5px;
    pointer-events: none;
    transition: width 0.2s ease;
}

#taskList.hidden {
    display: none;
}

.content__profileCreate {
    display: none;
}

.content__profileCreate.open {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 20px;
}

.create__link {
    color: var(--color-primary-purple);
    font-size: 16px;
}

.content__create {
    margin: 30px 0 20px;
}

/*profile container styles start*/
.profileBio {
    display: flex;
}

.account__editData {
    margin-top: 50px;
    display: flex;
    flex-direction: row;
    align-items: center;
    flex-wrap: wrap;
    gap: 24px;
    width: 100%;
    margin-left: 30px;
}

.editData__title {
    color: var(--color-primary-purple);
    font-size: 16px;
    font-weight: 300;
    padding-left: 19px;
}

.editData__form {
    padding: 4px 16px;
    width: 450px;
    min-height: 72px;
    border-radius: 8px;
    border: 1px solid var(--color-primary-purple);
    background: #F9F9F9;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    gap: 12px;
}

.editData__input {
    width: 298px;
    padding-left: 4px;
    overflow: hidden;
    color: #717171;
    text-overflow: ellipsis;
    font-size: 16px;
    font-weight: 300;
    line-height: 24px;
    background-color: inherit;
}

.editData__btn {
    background-color: inherit;
}

.editData__btn img {
    display: block;
    width: 40px;
}