.profile__changeBio {
    margin-top: 32px;
    border-bottom: 3px solid var(--color-primary-border);
    width: 85%;
}

.profile__changeBio_title {
    margin: 10px 0;
    font-size: 21px;
    text-decoration: underline;
}

.profile__changeBio_form {
    margin-top: 22px;
    min-height: 400px;
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-between;
    margin-left: 20px;
    padding-bottom: 20px;
}

.editData__list {
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 15px;
}

.editData__item {

}

.editData__title {
    color: var(--color-primary-purple);
    font-size: 16px;
    font-weight: 300;
    padding-left: 19px;
}

.editData__form {
    padding: 4px 16px;
    width: 450px;
    min-height: 72px;
    border-radius: 8px;
    border: 1px solid var(--color-primary-purple);
    background: var(--color-bg-input);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    gap: 12px;
}

.editData__img {
}

.editData__input {
    height: 100%;
    width: 100%;
    font-size: 19px;
    border: none;
    background-color: inherit;
}

.editData__bioContainer {
    height: 397px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
}

.editData__bio {
    padding: 12px;
    font-size: 15px;
    vertical-align: top;
    resize: none;
    display: block;
    width: 450px;
    min-height: 300px;
    border: 2px solid var(--color-primary-purple);
    background: var(--color-bg-input);
    border-radius: 10px;
}

.profile__changeBio_form button, .changePassword__btn {
    width: 100%;
    border-radius: 8px;
    background: var(--color-primary-purple);
    color: var(--color-bg-text);
    border: 2px solid var(--color-primary-purple);
    padding: 6px 8px;
    font-size: 18px;
    line-height: 28px;
    text-align: center;
    text-transform: capitalize;
    align-self: flex-end;
}

.profile__changeBio_form button:hover, .changePassword__btn:hover, .profile__changeBio_form button:focus, .changePassword__btn:focus {
    background: inherit;
    transition: 0.4s;
}

.profile__changePassword {
    width: 85%;
    margin-top: 20px;
    padding-bottom: 40px;
    border-bottom: 3px solid var(--color-primary-border);
}

.changePassword__form {
    width: 100%;
    padding: 4px 16px;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    justify-content: flex-start;
    gap: 25px;
}

.changePassword__list {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: space-between;
    margin-top: 20px;
}

.changePassword__item {
    min-width: 31%;
}

.changePassword__input {
    width: 100%;
    padding: 4px 16px;
    min-height: 40px;
    border-radius: 8px;
    border: 1px solid var(--color-primary-purple);
    background: var(--color-bg-input);
}

.profile__changeContacts {
    padding-top: 40px;
    width: 50%;
    border-right: 3px solid var(--color-primary-border);
}

.profile__changeContacts p {
    color: var(--color-tag-green);
    font-size: 15px;
}

.profile__changeContacts_form {
    padding: 20px;
    display: flex;
    min-width: 50%;
    width: 100%;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 15px;
}

.profile__changeContacts_form input {
    width: 100%;
    padding: 5px;
    font-size: 18px;
    border-radius: 6px;
    border: 2px solid var(--color-primary-purple);
    background-color: var(--color-bg-input);
}

.profile__changeContacts_form button {
    width: 50%;
    margin: 0 auto;
    border-radius: 8px;
    background: var(--color-primary-purple);
    color: var(--color-bg-text);
    border: 2px solid var(--color-primary-purple);
    padding: 5px 8px;
    font-size: 18px;
    line-height: 28px;
    text-align: center;
    text-transform: capitalize;
    align-self: flex-end;
}

.profile__changeContacts_form button:hover, .profile__changeContacts_form button:focus {
    background: inherit;
    transition: 0.4s;
    /*color: var(--color-primary-black);*/
}

.profile__changeContainer {
    display: flex;
    align-items: center;
    width: 85%;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 10px;
}

.profile__changeImage {
    padding: 20px;
    max-width: 48%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    flex-direction: column;
}

.changeImageBtn {
    border-radius: 8px;
    background: var(--color-primary-purple);
    color: var(--color-primary-black);
    border: 2px solid var(--color-primary-purple);
    padding: 6px 8px;
    font-size: 18px;
    line-height: 28px;
    text-align: center;
    text-transform: capitalize;
    align-self: flex-end;
}

.changeImageBtn:hover, .changeImageBtn:focus {
    background: var(--color-primary-white);
    transition: 0.4s;
    color: var(--color-primary-black);
}
