.notify {
    margin-top: 32px;
}

.notify__list {
    max-width: 1200px;
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    flex-wrap: wrap;
    gap: 15px;
    margin-left: 30px;
}

.notify__item:nth-child(odd) {
    border-left: 4px solid var(--color-tag-purple);
}

.notify__item:nth-child(even) {
    border-left: 4px solid var(--color-tag-green);
}

.notify__item {
    padding: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    border-radius: 10px;
    background: var(--color-bg-modal);
    box-shadow: -2px 2px 20px -1px rgba(113, 113, 113, 0.20);
    color: var(--color-bg-text);
    gap: 10px;
}

.notify__profile {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

.notify__profile p {
    text-align: center;
}

.notify__profileUser {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 10px;
    padding-right: 20px;
}

.notify__profileUser img {
    display: block;
    width: 55px;
    border-radius: 50%;
}

.userInfo__name a {
    color: var(--color-primary-purple);
    line-height: 20px;
}

.userInfo__name a:hover, .userInfo__name a:active, .userInfo__name a:focus {
    border-bottom: 2px solid var(--color-primary-purple);
}

.userInfo__surname {
}

.notify__title {
    text-align: center;
    line-height: 20px;
}

.notify__title span {
    color: var(--color-primary-purple);
}

.notify__buttons {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

.notify__buttons a, .notify__buttons button {
    display: block;
    padding: 10px 20px;
    color: var(--color-primary-black);
    font-size: 16px;
    border-radius: 6px;
}

.notify__buttons button {
    padding: 7px 15px;
}

.notify__accept {
    background-color: var(--color-tag-green);
    border: 1px solid var(--color-tag-green);
}

.notify__reject {
    background-color: var(--color-warning-red);
    border: 1px solid var(--color-warning-red);
}

.notify__buttons a:hover, .notify__buttons button:hover, .notify__buttons a:focus, .notify__buttons button:focus {
    background-color: inherit;
    transition: 0.3s;
    color: var(--color-bg-text);
}