.detail {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    min-height: 550px;
}

.detail__mainContainer {
    max-width: 70%;
    width: 100%;
}

.detail__header {
    width: 100%;
    padding: 20px;
    background-color: var(--color-primary-purple);
    border-radius: 6px;
}

.detail__header h1 {
    font-size: 24px;
    font-weight: 500;
    margin-bottom: 15px;
    word-break: break-word;
}

.detail__feedback {
	margin: 20px;
	padding: 15px 25px;
	background-color: var(--color-primary-white);
	border-radius: 6px;
	border: 1px solid var(--color-primary-purple);
	box-shadow: -2px 2px 20px -1px rgba(113, 113, 113, 0.20);
}
.detail__feedback_title {
	width: 100%;
	padding: 20px;
	background-color: var(--color-primary-purple);
	border-radius: 6px;

	font-size: 20px;
	font-weight: 500;
	margin-bottom: 15px;
}
.detail__tags {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 15px;
    flex-wrap: wrap;
}

.detail__main {
    margin-top: 20px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
}

.detail__description {
    font-size: 18px;
    line-height: 24px;
    word-break: break-word;
}

.detail__container {
    margin-top: 20px;
    align-self: flex-end;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

.detail__priority {
    background-color: var(--color-warning-red);
    padding: 10px 15px;
    border-radius: 12px;
    font-size: 16px;
    text-align: center;
}

.detail__status {
    background-color: var(--color-tag-purple);
    padding: 10px 15px;
    border-radius: 12px;
    font-size: 16px;
    text-align: center;
    margin-bottom: 15px;
}

.detail__status a {
    color: var(--color-primary-white);
    border-bottom: 2px solid var(--color-primary-white);
}

.detail__footer {
    margin-top: 20px;
}

.detail__form {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 20px;
    flex-direction: column;
}

.detail__form label {
    font-size: 18px;
}

.detail__form textarea {
    border-radius: 6px;
    border: 2px solid var(--color-primary-purple);
    display: block;
    width: 100%;
    resize: none;
    min-height: 90px;
    font-size: 18px;
    padding: 10px;
    color: var(--color-primary-purple);
}

.detail__btn {
    border-radius: 8px;
    background: var(--color-primary-purple);
    color: var(--color-primary-black);
    border: 2px solid var(--color-primary-purple);
    padding: 2px 8px;
    font-size: 17px;
    line-height: 28px;
    text-align: center;
    text-transform: capitalize;
    align-self: flex-end;
}

.detail__btn:hover, .detail__btn:active, .detail__btn:focus {
    background: var(--color-primary-white);
    transition: 0.4s;
    color: var(--color-primary-black);
}

.detail__metaContainer {
    padding: 15px 25px;
    background-color: var(--color-primary-white);
    border-radius: 6px;
    border: 1px solid var(--color-primary-purple);
    box-shadow: -2px 2px 20px -1px rgba(113, 113, 113, 0.20);
}

.metaContainer__header h2 {
    font-size: 18px;
    font-weight: 600;
}

.metaContainer__info span {
    color: var(--color-primary-purple);
}

.metaContainer__list {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 15px;
}

.metaContainer__item {
    width: 100%;
}

.metaContainer__info {
    font-size: 16px;
}

.rating-area {
	overflow: hidden;
	width: 265px;
	margin: 0 auto;
}
.rating-area:not(:checked) > input {
	display: none;
}
.rating-area:not(:checked) > label {
	float: right;
	width: 42px;
	padding: 0;
	cursor: pointer;
	font-size: 32px;
	line-height: 32px;
	color: lightgrey;
	text-shadow: 1px 1px #bbb;
}
.rating-area:not(:checked) > label:before {
	content: '★';
}
.rating-area > input:checked ~ label {
	color: gold;
	text-shadow: 1px 1px #c60;
}
.rating-area:not(:checked) > label:hover,
.rating-area:not(:checked) > label:hover ~ label {
	color: gold;
}
.rating-area > input:checked + label:hover,
.rating-area > input:checked + label:hover ~ label,
.rating-area > input:checked ~ label:hover,
.rating-area > input:checked ~ label:hover ~ label,
.rating-area > label:hover ~ input:checked ~ label {
	color: gold;
	text-shadow: 1px 1px goldenrod;
}
.rate-area > label:active {
	position: relative;
}

.rating-result {
	width: 265px;
	margin: 0 auto;
}
.rating-result span {
	padding: 0;
	font-size: 32px;
	margin: 0 3px;
	line-height: 1;
	color: lightgrey;
	text-shadow: 1px 1px #bbb;
}
.rating-result > span:before {
	content: '★';
}
.rating-result > span.active {
	color: gold;
	text-shadow: 1px 1px #c60;
}

.banForm {
    padding: 10px;
    border: 2px solid var(--color-primary-border);
    border-radius: 6px;
    position: relative;
    opacity: 0;
    display: none;
}

.banBtn {
    max-width: 300px;
    width: 100%;
    padding: 10px 20px;
    background-color: var(--color-warning-red);
    border-radius: 6px;
    font-weight: 600;
    text-align: center;
}

.complaint__list {
    margin-top: 15px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 15px;
}

.complaint__item {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 8px;
}

.complaint__radio {
    appearance: none;
    -webkit-appearance: none;
    outline: none;
    border: 1px solid var(--color-primary-purple);
    border-radius: 50%;
    background-color: var(--color-primary-white);
    width: 15px;
    height: 15px;
    position: relative;
    cursor: pointer;
    margin: 0;
}

.complaint__radio:checked {
    background-color: var(--color-primary-purple);

    &::before {
        content: "\2713";
        color: #fff;
        position: absolute;
        font-size: 12px;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%) rotate(5deg);

    }
}

.complaint__label {
    font-size: 14px;
    font-weight: 500;
    line-height: 18px;
    text-align: left;
}

.complaintText {
    margin: 10px 0;
    resize: none;
    width: 100%;
    height: 70px;
    padding: 10px;
    border: 1px solid var(--color-primary-purple);
    border-radius: 6px;
}

#sendComplaint {
    width: 100%;
    padding: 5px;
    background-color: var(--color-primary-purple);
    border-radius: 6px;
    border: 2px solid var(--color-primary-purple);
}

#sendComplaint:hover, #sendComplaint:active, #sendComplaint:focus {
    background-color: #fff;
    transition: 0.3s;
}

#closeFormBtn {
    position: absolute;
    top: 5px;
    right: 0;
    background-color: inherit;
}

#closeFormBtn img {
    display: block;
    width: 20px;
}