.subscription {
    min-height: 390px;
}

.subscription__container {
    background-color: inherit;
}

.subscription__main {
    max-width: 530px;
}

.subscription__title {
    margin-top: 20px;
    color: var(--color-primary-purple);
}

.subscription__list {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    gap: 20px;
    margin-top: 20px;
}

.subscription__item {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 6px;
}

.subscription__item img {
    display: block;
    width: 20px;
}

.subscription__item p {
    font-size: 20px;
    color: var(--color-bg-text);
}

.subscription__description {
    color: var(--color-bg-text);
}

.subscription__description span {
    color: var(--color-primary-purple);
}

.subscription__footer a {
    color: var(--color-bg-text);
}

.subscription__form h4 {
    margin-bottom: 15px;
    color: var(--color-bg-text);
    font-size: 20px;
}

.subscription__form label{
    font-size: 16px;
    color: var(--color-bg-text);
}

.subscription__cost {
    color: var(--color-bg-text);
    font-size: 15px;
}

.subscription__btn {
    margin: 20px 0;
    border: 2px solid var(--color-primary-purple);
    border-radius: 6px;
    background-color: inherit;
    padding: 10px 20px;
    color: var(--color-bg-text);
    font-size: 16px;
    text-transform: capitalize;
    font-weight: 600;
}

.subscription__btn:hover, .subscription__btn:active {
    background-color: var(--color-primary-purple);
    transition: 0.3s;
    color: var(--color-bg-text);
}

/*rainbow border styles start*/
.animate-border {
    position: relative;
    z-index: 0;
    width: 70%;
    height: 350px;
    border-radius: 10px;
    overflow: hidden;
    margin: 30px auto;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    gap: 38px;
    font-size: 24px;
    padding: 25px 20px 20px;
}
.animate-border::before {
    content: '';
    position: absolute;
    z-index: -2;
    left: -50%;
    top: -50%;
    width: 200%;
    height: 200%;
    background-color: rgba(153, 170, 255, 1);
    background-repeat: no-repeat;
    background-size: 50% 50%, 50% 50%;
    background-position: 0 0, 100% 0, 100% 100%, 0 100%;
    background-image: linear-gradient(180.00deg, rgb(206, 159, 252),rgb(165, 130, 247) 50.521%,rgb(115, 103, 240) 100%);
    animation: anim-ramka-5 6s linear infinite;
}
.animate-border::after {
    content: '';
    position: absolute;
    z-index: -1;
    left: 6px;
    top: 6px;
    width: calc(100% - 12px);
    height: calc(100% - 12px);
    background: var(--color-bg-subscription);
    border-radius: 5px;
}
@keyframes anim-ramka-5 {
    100% {
        transform: rotate(1turn);
    }
}